.colorContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  row-gap: 15px;
  align-items: center;
  justify-items: center;
  min-height: 400px;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  padding: 15px;

  .color {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border-style: double;
    cursor: pointer;
  }
}
