.createDesignForm {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	.row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 18px;
		margin-bottom: 25px;

		select,
		option,
		input {
			height: 35px;
			line-height: 2;
			font-size: 16px;
			border: 1px solid lightgray;
			border-radius: 5px;
		}

		select {
			background: white;
			padding: 5px;
			min-width: 150px;
		}
	}

	.buttonContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 25px;

		:first-child {
			margin-right: 25px;
		}

		button {
			padding: 9px;
			border-radius: 5px;
			border: none;
			font-size: 18px;
			cursor: grab;

			&.cancel {
				background: #d9ed92;
				color: #184e77;

				&:hover {
					background: #b5e48c;
				}
			}

			&.create {
				background: #184e77;
				color: white;

				&:hover {
					background: #1e6091;
				}
			}
		}
	}
}
