.instructionContainer {
	margin: 35px;

	> div {
		margin-bottom: 25px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	h1,
	h2 {
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		text-transform: uppercase;
		font-weight: 300;
	}

	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 28px;
		margin-bottom: 10px;
	}

	.subTitle {
		text-transform: uppercase;
		font-size: 16px;
	}

	hr {
		margin-top: 10px;
	}

	.box {
		width: 35px;
		height: 35px;
		border: 1px solid lightgray;
		border-radius: 5px;
		margin: 0 auto;
	}

	ul {
		padding-left: 25px;
		li {
			margin-bottom: 10px;
			font-size: 16px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.floss {
		table {
			table-layout: fixed;
			width: 80%;
			border-collapse: collapse;
			border: 1px solid lightgray;
			text-align: center;

			thead {
				th:nth-child(1) {
					width: 16%;
				}

				th:nth-child(2) {
					width: 17%;
				}

				th:nth-child(3) {
					width: 30%;
				}

				th:nth-child(4) {
					width: 20%;
				}

				th:nth-child(5) {
					width: 17%;
				}
			}

			th,
			td {
				padding: 20px;
			}
		}

		span {
			font-style: italic;
			font-size: 14px;
		}
	}
}
